

<app-header></app-header>
<router-outlet></router-outlet>





<!-- 
<p>OBERVABLE TEST</p>
<br/>
<br/>

<button (click)="onClickGetMock()"> Get products from mock</button>
<br/>

<div  *ngFor = "let p of observableProductsFromMock$ | async">
  {{p.titre}} / {{p.prix}} 
</div>


<br/>
<br/>
<br/>

<label>Prix maximum des produits a afficher : </label>
<input [(ngModel)]="limitPrice"/>
<br/>
<button (click)="onClickFilterProducts()"> Afficher produits prix max : {{limitPrice}}</button>

<p>PRODUITS INFERIEURS A {{limitPrice}}</p>
<br/>
<div  *ngFor = "let p of tabCheapProducts">
  {{p.titre}}  {{p.prix}} 
</div> -->

